#map {height: 80%;
	   width: 100%;}	
.mapOptions table {width: 100%;}
.mapOptions table th {border-bottom: 3px solid #000}
.mapOptions table tr:nth-child(even) {background-color:#EEE;}
.mapOptions td.value {padding-left: 1em}
.mapOptions td.attr {font-style: italic;
                     border: 1px solid;
			         border-right-style: solid;
	 				 border-left-style: hidden;
                     border-bottom-style: hidden;
                     border-top-style: none;
                     padding-right: 1em;
                    }


#oim{ display: none;}
#hilite {color:orange;}
#unavailable {color:MediumPurple;}
